* {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  height: 5rem;
  position: fixed;
  top: 0;
  background-color: aquamarine;
  transform-origin: left;
  transition-property: transform border;
  transition-duration: 0.75s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

}


.nav > img {
  width: 8rem;
}

.nav > div > span {
  padding: 0.5rem;
  position: relative;
}

.navMidleItems,
.navLeftItems {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 0.5rem;
}

.navLeftItems > span:nth-child(2) {
  background-color: #f35422;
  border-radius: 1rem;
  color: #fff;
}

/* Initially hide the ul with opacity and height */
.navMidleItems > span > ul {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease, max-height 0.6s ease;
  position: absolute;
  list-style-type: none;
  padding: 0;
  width: 6rem;
  background-color: inherit;
  z-index: 5;
}

.navMidleItems > span:hover ul {
  opacity: 1;
  max-height: 200px;
}

.navMidleItems > span:hover .NavArrow {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.NavArrow {
  transition: transform 0.3s ease;
}

.navMidleItems > span {
  margin-right: 1.5rem;
  position: relative;
}

.page1 {
  height: 100vh;
  position: relative;
  margin-left: 4rem;
}

.mainHeader {
  position: relative;
  top: 25%;
  font-size: 3.2rem;
}

.mainHeader > p {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -5px;
  line-height: 5rem;
  background: transparent;
  position: relative;
}

.mainHeader > p:first-child {
  z-index: 4;
}

/* Second line */
.mainHeader > p:last-child {
  z-index: 1;
}

/* SVG */
.headerSvgItem {
  position: absolute;
  top: -5%;
  pointer-events: none;
  left: 60%;
  z-index: 2;
}

.headerReviews {
  position: absolute;
  top: 60%;
  display: flex;
  align-items: center;
}

.headerReviews > div {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.headerReviews > div > p {
  color: #728085;
}

.clutch {
  width: 6rem;
  height: 2rem;
}

.fa-star {
  color: #f35422;
}

.newProjectBtn {
  background-color: #000;
  color: #fff;
  padding: 1.3rem;
  position: absolute;
  font-size: 1.1rem;
  border-radius: 3rem;
  top: 80%;
  right: 5%;
}

.page2,
.page3 {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Slider */
.slider-container {
	width: 800px;
	position: relative;
}

.slider {
	position: relative;
}

.slide {
	display: none;
	text-align: center;
}

.slide.active {
	display: block;
}

.slide>img {
	width: 100%;
	height: 60vh;
	transform-origin: right;
}

.caption {
	font-size: 1.2rem;
	margin-top: 10px;
	color: #333;
}

/* Pagination Numbers */
.pagination-numbers {
	text-align: center;
	margin-top: 10px;
	font-size: 1.4rem;
}

.pagination-numbers span {
	font-weight: bold;
}

/* Custom pagination line */
.pagination-line {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.line {
	width: 20%;
	height: 4px;
	background-color: #ddd;
	transition: background-color 0.3s;
}

.line.active {
	background-color: #000;
	font-weight: bold;
}

/* Arrows */
.arrows {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.arrows button {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #333;
}
/*  */
.page3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page3 h2 {
  margin: 0;
  padding: 20px;
  text-align: justify;
  font-size: 2rem;
  line-height: 3rem;
}

.page4 {    
	display: flex;
	height: 100vh;
	align-items: flex-start;
	justify-content: space-around;
}

.contentBox{
	width: 25%;
}

.contentBox>h4{
	padding: 4rem 0;
	font-size: 4rem;
	border-bottom: black solid 2px;
}

.contentBox>h5{
	font-size: 1.5rem;
	margin-top: 1rem;
}


/* Recognition */
.headingName{
  margin: 5rem 2rem;
}

.ddnycRecognition{
  margin: 5rem 2rem;
}
.singleReco{
  display: flex;
  justify-content: space-between;
  height: 2rem;
  position: relative;
}

.singleReco::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 4px;
  background-color: #000;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s ease;
}

.singleReco:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.8s ease;
}
